<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:context='http://www.springframework.org/schema/context' xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>
		
	<!-- 管理数据库 -->
	<bean id="mysqlDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		<property name="driverClassName" value="org.mariadb.jdbc.Driver" /> 
		<property name="url" value="jdbc:mysql://47.100.136.47:3306/zmsoft_test?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
		<property name="username" value="root" /> 
		<property name="password" value="admin" />
		<!-- 配置初始化大小、最小、最大 --> 
		<property name="initialSize" value="5" /> 
		<property name="minIdle" value="10" /> 
		<property name="maxActive" value="25" />
		
		<!-- 配置获取连接等待超时的时间 --> 
		<property name="maxWait" value="2000" />
		
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 --> 
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 --> 
		<property name="minEvictableIdleTimeMillis" value="30000" />
		
		<property name="testWhileIdle" value="true" />		
		<!-- 这里建议配置为TRUE，防止取到的连接不可用 --> 
		<property name="testOnBorrow" value="true" /> 
		<property name="testOnReturn" value="true" />
		
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 --> 
		<property name="poolPreparedStatements" value="true" /> 
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
		
		<!-- 这里配置提交方式，默认就是TRUE，可以不用配置 -->
		<!-- <property name="defaultAutoCommit" value="true" /> -->
		
		<!-- 验证连接有效与否的SQL，不同的数据配置不同 --> 
		<property name="validationQuery" value="select 1 " /> 
	 
	</bean>
		
	<!--缓存中心连接配置信息 -->	  
	<bean id='jedisPool' class='redis.clients.jedis.JedisPool'>  
	    <constructor-arg index='0' ref='jedisPoolConfig' />  
    	<constructor-arg index='1' value='47.100.136.47' type='String' />
	    <constructor-arg index='2' value='6379' type='int' />
	    <constructor-arg index='3' value='10000' type='int' />
	    <constructor-arg index='4' value='123456' type='String' />
	    <constructor-arg index='5' value='3' type='int' />
	</bean>
	
	<!--日志输出配置 -->
	<bean id='ELKLogConfig' class='org.zmsoft.jfp.framework.elk.ELKLogConfig'>
		<property name='logServerIP' value='47.100.136.47' />
		<property name='logServerPort' value='6379' />  
		<property name='passWord' value='123456' />
		<property name='index' value='5' />  
	</bean>		
	<bean id="ELKLogSendConnection" class='org.zmsoft.jfp.framework.elk.ELKLogSendConnection'>
		<!-- <property name='config' ref='ELKLogConfig' />  -->
		<property name='hdpName' value='ZM' />  <!-- 运营商名称 -->
		<property name='systemName' value='Manager' /> <!--系统名称 -->
		<property name='logFlag' value='true' />  <!-- 控制台输出开关 -->		 
	</bean>		
	
	<!-- DB管理工具初始化方法creat建库/init初始化数据/build重构/test简单测试  init-method='test' -->	
	<bean class='org.zmsoft.jfp.framework.db.DBService' init-method='test' />

</beans>
