<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration PUBLIC '-//ibatis.apache.org//DTD Config 3.0//EN'
'http://ibatis.apache.org/dtd/ibatis-3-config.dtd'>
<configuration>
	<!-- 这些是极其重要的调整，它们会修改MyBatis在运行时的行为方式。 -->
	<settings>
		<!-- 这个配置使全局的映射器启用或禁用缓存。 -->
		<setting name='cacheEnabled' value='false'/>
		<!-- 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载。 -->
		<!--setting name='lazyLoadingEnabled' value='true'/-->
		<!-- 当启用时，有延迟加载属性的对象在被调用时将会完全加载任意属性。否则，每种属性将会按需要加载。 -->
		<!--setting name='aggressiveLazyLoading' value='true'/-->
		<!-- 允许或不允许多种结果集从一个单独的语句中返回（需要适合的驱动）。 -->
		<!--setting name='multipleResultSetsEnabled' value='true'/-->
		<!-- 使用列标签代替列名。不同的驱动在这方面表现不同。参考驱动文档或充分测试两种方法来决定所使用的驱动。 -->
		<!--setting name='useColumnLabel' value='false'/-->
		<!-- 允许JDBC支持生成的键。需要适合的驱动。如果设置为true则这个设置强制生成的键被使用，尽管一些驱动拒绝兼容但仍然有效（比如Derby）。 -->
		<!--setting name='useGeneratedKeys' value='false'/-->
		<!-- 指定MyBatis如何自动映射列到字段/属性。PARTIAL只会自动映射简单，没有嵌套的结果。FULL会自动映射任意复杂的结果（嵌套的或其他情况）。 -->
		<!--setting name='autoMappingBehavior' value='PARTIAL'/-->
		<!-- 配置默认的执行器。SIMPLE执行器没有什么特别之处。REUSE执行器重用预处理语句。BATCH执行器重用语句和批量更新 -->
		<!--setting name='defaultExecutorType' value='BATCH'/-->
		<!-- 驼峰转化, 表字段下划线去掉,后面的第一个字母转大写 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 设置超时时间，它决定驱动等待一个数据库响应的时间。 -->
		<!--setting name='defaultStatementTimeout' value='3000'/-->
	</settings>	
	
	<!-- Bean实体别名 -->
	<!-- 参考MySqlSessionFactorySupportBean 进行标准自动配置，特殊配置直接写出 -->
	<!-- <typeAliases>
		<typeAlias alias='FrameworkData' type='org.jfpc.framework.bean.FrameworkDataBean'/>
		<typeAlias alias='LoginerData' 	 type='org.jfpc.framework.bean.LoginerBean'/>		
		<typeAlias alias='MenuData' 	 type='org.jfpc.common.menu.MenuBean'/>
	</typeAliases>	 -->
	
    <!-- 无论是MyBatis在预处理语句中设置一个参数，还是从结果集中取出一个值时，类型处理器被用来将获取的值以合适的方式转换成Java类型。 -->
    <!--typeHandlers>
		<typeHandler javaType='String' jdbcType='VARCHAR' handler='com.ttnn.framework.mybatis.MyFrameworkTypeHandler'/>
	</typeHandlers-->
	
	<!-- 
		MyBatis每次创建结果对象新的实例时，它使用一个ObjectFactory实例来完成。如果参数映射存在，默认的ObjectFactory不比使用默认构造方法
		或带参数的构造方法实例化目标类做的工作多。
	 -->
	<!--objectFactory type='com.ttnn.framework.mybatis.MyFrameworkObjectFactory'>
		<property name='someProperty' value='100'/>
	</objectFactory-->
	<!-- 
		MyBatis允许你在某一点拦截已映射语句执行的调用。默认情况下，MyBatis允许使用插件来拦截方法调用：
		 Executor
				(update, query, flushStatements, commit, rollback, getTransaction, close, isClosed)
		 ParameterHandler
				(getParameterObject, setParameters)
		 ResultSetHandler
				(handleResultSets, handleOutputParameters)
		 StatementHandler
				(prepare, parameterize, batch, update, query)	
	
 	-->
 	<!-- mybatis插件拦截器 -->
	<plugins>
		<plugin interceptor='org.ishome.jfp.framework.mybatis.plugin.MyFrameworkQueryPlugin'/>
	    <plugin interceptor='org.ishome.jfp.framework.mybatis.plugin.MyFrameworkUpdatePlugin'/>		
	</plugins>
</configuration>