*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	background: #F2F2F2;
}
.pay-container{
	color: #666666;
	background: white;
}
.fontSize18{
	font-size: 0.4864864864864865rem;
}
.margin-comm-left{
	margin-left: 0.5405405405405406rem;
}
.margin-comm-right{
	margin-right: 0.5405405405405406rem;
}
.margin-comm-top{
	margin-top: 0.5405405405405406rem;
}
.margin-comm-bottom{
	margin-bottom: 0.5405405405405406rem;
}
.pay-container .up{
	height: 4rem;
	padding-top: 0.5405405405405406rem;
}
.pay-container .title{
	font-size: 0.5405405405405406rem;
	color: #666666;
}
.pay-container .pay-content{
    height: 1.7027027027027026rem;
	margin-top: 0.2702702702702703rem;
	margin-bottom: 0.2702702702702703rem;
}
.pay-container .pay-content img{
	height: 1.5405405405405406rem;
	width: 2.7567567567567566rem;
	float: left;
	margin-right: 0.2702702702702703rem;
	margin-top: 0.13513513513513514rem;
}
.pay-container .pay-content p{
	font-size: 0.4864864864864865rem;
	color: #666666;
}
.pay-container .up .right{
	float: right;
	margin-top: 0.3108108108108109rem;
}
.pay-container .money{
	height: 1.0810810810810811rem;
	background: white;
	line-height: 1.0810810810810811rem;
}
.pay-container .money .span-two{
	float: right;
}
.bottom-line{
	height: 0.2702702702702703rem;
	background: #F3F3F3;
}
.small-bottom-line{
	height: 0.02702702702702703rem;
	background: #F3F3F3;
}
.big-bottom-line{
	height: 0.12702702702702703rem;
	background: red;
}
.orange-color{
	color: #FF8C00;
}
.gou{
	width: 0.7027027027027027rem;
	height: 0.5135135135135135rem;
}
.money .span-two{
	float: right;
	margin-right: 0.5405405405405406rem;
	margin-top: 0.3405405405405406rem;
}
.dn{
	display: none;
}
.sure-btn{
	height: 1.3243243243243243rem;
	width: 100%;
	background: #FF8C00;
	text-align: center;
	font-size: 0.4864864864864865rem;
	color: white;
	line-height: 1.3243243243243243rem;
	position: absolute;
	bottom: 0;
}

.pay-qrcode{
	position: absolute;
    top: 50%;
    margin-top: -4rem;
    left: 50%;
    margin-left: -3.6rem;
    height: 7.513514rem;
    width: 7.513514rem;
    display: none;
    background: url(/resources/img/pay/pay_qrcode.png) no-repeat center;
    cursor: pointer;
    background-size: 100% 100%;
}
.pay_img{
	position: relative;
    top: 50%;
    margin-top: -3rem;
    left: 50%;
    margin-left: -2.5rem;
    height: 5.108108rem;
    width: 5.108108rem;
}

/*wait-pay*/

.waitAlert{
	width: 7.351351351351352rem;
	height: 4.886486486486487rem;
	position: absolute;
	top: 50%;
	margin-top: -1.8243243243243243rem;
	left: 50%;
	margin-left: -3.675675675675676rem;
	background: rgba(33,33,33,0.32);
	border-radius: 0.13513513513513514rem;
	color: white;
	text-align: center;
	font-size: 0.4864864864864865rem;
	z-index: 999;
}
.waitAlertTitle img{
	width: 3rem;
	height: 3rem;
}
.gouSuccess{
	width: 7.351351351351352rem;
	height: 1.486486486486487rem;
	line-height:1.486486486486487rem;
	position: absolute;
	top: 50%;
	margin-top: -1.8243243243243243rem;
	left: 50%;
	margin-left: -3.675675675675676rem;
	background: rgba(33,33,33,0.32);
	border-radius: 0.13513513513513514rem;
	color: white;
	text-align: center;
	font-size: 0.4864864864864865rem;
	z-index: 999;
}