<?xml version='1.0' encoding='UTF-8'?>
<!-- 定义各种启动部署初始化工具 -->
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:context='http://www.springframework.org/schema/context' xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>
	
	<!-- 系统消息队列 -->
	<bean id='myMedMqService' class='com.hundsun.med.framework.mq.map.MyMaps'>	
	</bean>
		
	<!-- 对接中心参数配置 -->
	<bean id='myCloundDataReceiveAPI' class='com.hundsun.med.hdp.conf.CloundApiConfig'>
		<!-- 医院对接ID -->
		<property name='hospitalId' value='8a22b37c4c7a047a014cc6b6b23b0765'/>
		<!-- 创建日期YYYYMMDD -->
		<property name='creatingDate' value='20150509'/>	
		
		<!-- 网闸穿透模式   1：开启-->
		<property name='remoteFlag' value='0'/>	
		<!-- 医院接口服务器地址（网闸穿透模式  需要开启网闸模式)-->
		<property name='hospitalUrl' value='http://127.0.0.1:8880'/>
			
		<!-- 服务器地址，如果不是跟路径部署，需要添加工程名称，末尾不要'/'符号 -->
		<property name='serverUrl' value='http://127.0.0.1:8880'/>
        
		<!-- 云端服务接口地址 -->
		<property name='cloundApiConfig'>
			<!-- ISJobConstants -->
			<!-- /{hosId}/{bizName} -->
            <map>   
            	<!-- 前置机对接接口，下行业务 -->          	
            	<entry key='sync' 			value='/v200/hos/sync' />				<!-- 数据对接 -->            	
            	<entry key='biz' 			value='/v205/hos/biz' />				<!-- 日常业务对接 -->            	
            	<!-- 前置机对接接口，处理结果回传业务 -->
            	<entry key='synccheck' 		value='/v200/hos/synccheck' />  		<!-- 数据对接校验 --> 
            	<entry key='bizresult' 		value='/v205/hos/bizresult' /> 			<!-- 日常业务结果回传 --> 
            	<!-- 前置机开放接口，上行业务 -->
            	<entry key='clound'	 		value='/v210/hos/clound' /> 			<!-- 云端业务请求 -->
            </map>
        </property>
        <!-- 匿名监控业务 IAccessTypeConstants优先于日常见监控业务-->
        <property name='anonymousConfig'>
        	<map>
        		<entry key="Anonymous" 				value="AnonymousBusinessImpl" />			
        	</map>
        </property>
        
         <!-- 日常监控业务 IAccessTypeConstants下行业务-->
        <property name='monitorConfig'>
        	<map> 
        		<!-- v2.0.0 -->   
        		<entry key="Department" 			value="DepartmentBusinessImpl" />			<!-- 科室(手动) -->           	
				<entry key="Doctor" 				value="DoctorBusinessImpl" />				<!-- 医生(手动)  -->           	
            	<entry key="Scheduling" 			value="SchedulingBusinessImpl" />  			<!-- 排班(手动) -->  	  
        		    	
            	<entry key='CreatPhoneUser' 		value='CreatPhoneUserBusinessImpl' />		<!-- 创建手机用户 --> 
            	<entry key='CreatUserPatient' 		value='CreatUserPatientBusinessImpl' />		<!-- 创建患者 -->     
            	<entry key='DeleteUserPatient' 		value='DeleteUserPatientBusinessImpl' />	<!-- 删除患者 -->    
            	<entry key='ListUserPatient' 		value='ListUserPatientBusinessImpl' />		<!-- 患者列表 -->  
            	<entry key='ReadPhoneUser' 		    value='ReadPhoneUserBusinessImpl' />		<!-- 读取手机用户 -->    
            	<entry key='ReadUserPatient' 		value='ReadUserPatientBusinessImpl' />		<!-- 读取患者信息 -->  
            	<entry key='UpdatePhoneUser' 		value='UpdatePhoneUserBusinessImpl' />		<!-- 更新用户 -->    
            	<entry key='UpdateUserPatient' 		value='UpdateUserPatientBusinessImpl' />    <!-- 更新患者 -->   
                <entry key="PatientCheck" 			value="PatientCheckBusinessImpl" />			<!-- 患者校验 -->  
                <entry key="CheckSheetList" 		value="CheckSheetListBusinessImpl" />		<!--  检查一览    -->
            	<entry key="CheckSheetView" 		value="CheckSheetViewBusinessImpl" />		<!-- 检查详情 --> 
            	<entry key="ExamineSheetList" 		value="ExamineSheetListBusinessImpl" />		<!-- 检验一览 -->   
            	<entry key="ExamineSheetView" 		value="ExamineSheetViewBusinessImpl" />     <!-- 检验详情 -->
            	<entry key="HosFeesList"            value="HosFeesListBusinessImpl" />          <!-- 住院费用 -->
            	<entry key="OutFeesList"            value="OutFeesListBusinessImpl" />          <!-- 门诊费用 -->
            	<entry key="ExamReportView"         value="ExamReportViewBusinessImpl" />       <!-- 体检详情 -->          
            
            	<entry key="OrderRegister"          value="OrderRegisterBusinessImpl" />        <!-- 确认预约 -->
            	<entry key="CancelRegister"          value="CancelRegisterBusinessImpl" />      <!--取消预约  -->
            	<entry key="TimeSlotRemainQuery"     value="TimeSlotRemainQueryBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
           	
            </map>
        </property>
	</bean>
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id='startQuertz' lazy-init='false' autowire='no' class='org.springframework.scheduling.quartz.SchedulerFactoryBean'>
        <property name='triggers'>
            <!-- 需要监听的用户队列 -->
            <list>
            	<!-- 对接业务 -->
             <!--    <ref bean='departmentDataSyncServiceMonitorCronTrigger'/> -->
                <!--<ref bean='doctorDataSyncServiceMonitorCronTrigger'/>
                <ref bean='schedulingDataSyncServiceMonitorCronTrigger'/> -->
                <!-- 心跳业务 -->
                <!-- <ref bean='hospitalHeartControllerMonitorCronTrigger'/> -->
                <!-- 日常业务 -->                
                <ref bean='hospitalBusinessControllerMonitorCronTrigger'/>
            </list>
        </property>
    </bean>
		
	<!-- 对接监控定时器 begin -->
	<import resource='spring-job-*.xml' />
	
</beans>
