<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title></title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/supplier_cert.css">
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
<script src="/js/jquery.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script src="/js/jquery.mCustomScrollbar.js"></script>
<script src="/js/jq.ui.js"></script>
<script>
//获取url中的参数
//console.log(getUrlParam("id"));
$(function(){
	resetText();
	$(".textTips").input();
	$(".select").uiSelect();
	hoverTable(".hoverTable",true);
	$("body").mCustomScrollbar({theme:"minimal"});
});
</script>
</head>
<body class="whiteBg">
<div class="contnet">
  <div class="formTitle">添加医院客户</div>
	<ul class="ulFrm">
	<li>
		<span class="label labelW100 labelRight"><span class="red">*</span> 医院客户：</span>
		<input type="text" class="text textTips {text:'医院名称'}" readonly="readonly" name="11" value="" size="30">
		<input type="button" value="选择医院" class="btn" onclick="top.showWindow('夺顶替','adfadsds', 500);">
	</li>
	<li>
		<span class="label labelW100 labelRight">联系人：</span>
		<input type="text" class="text" name="" value="" size="45">
	</li>
	<li>
		<span class="label labelW100 labelRight">所属科室：</span>
		<div class="select">
		<select name="" id="">
			<option value="">请选择科室</option>
			<option value="">科室一</option>
			<option>科室二</option>
		</select>
		</div>
	</li>
	<li>
		<span class="label labelW100 labelRight"><span class="red">*</span> 手机号码：</span>
		<input type="text" class="text" name="" value="" size="45">
	</li>
	<li>
		<span class="label labelW100 labelRight" style="vertical-align:top;">邀请内容：</span>
		<textarea class="textarea" cols="41" rows="3"></textarea>
	</li>
	
	<li class="p105"><input type="button" class="btn" value="发送邀请"></li>
</ul>
</div>
</body>
</html>