<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:context='http://www.springframework.org/schema/context' xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>	
		
	<!-- 加载缓存 -->
	<import resource='spring-system-*.xml' />
	
	<!-- 系统配置 -->
	<!-- <bean id="SystemConfigCache" class="com.tasoft.common.cache.biz.SystemConfigCacheService" init-method='loadCacheData'/> -->
	<!-- 系统菜单 -->
	<!-- <bean id="SystemMenuCache" class="com.tasoft.common.cache.biz.SystemMenuCacheService" init-method='loadCacheData'/> -->
	
	<!-- 数据唯一性检查-->
	<!-- <bean id="S9999Common" class="com.tasoft.syb.persistent.S9999Common.S9999CommonService">
		<property name='tableFieldUnique'>
        	<list>
        		标识:表名:字段名
        		<value>R3025;R3025_merchandise_release;commodity_name</value>
			</list>
        </property>
	</bean> -->
	
 </beans>
