<?xml version='1.0' encoding='UTF-8'?>
<!-- 定义各种启动部署初始化工具 -->
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' 
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:p='http://www.springframework.org/schema/p'
	xmlns:context='http://www.springframework.org/schema/context' 
	xmlns:cache='http://www.springframework.org/schema/cache'
	xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xmlns:rabbit='http://www.springframework.org/schema/rabbit'	
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>
  	<!-- ************************* 服务端配置 ************************* -->
   	<!-- 短信监听队列 -->
	<bean id='defaultSMSChannelDEFXHTEST' class='com.hundsun.med.framework.sms.server.monitor.RedisMonitorThreadForSMS' init-method='run'>
		<property name='smsGatewayFactory' ref='MyGatewayFactoryDEFXHTEST' />
		<property name='redisChannelConfig' ref='defaultSMSRedisChannelConfigBeanDEFXHTEST' />
		<!-- 单一通道配置 -->
		<!-- <property name="keyList"  		value="YZM" /> -->
		<!-- 多通道配置 -->
		<property name="channels"  		value=";YZM" />
	</bean>	

	<!-- 推送网关队列定义 -->
	<bean id='defaultSMSRedisChannelConfigBeanDEFXHTEST' class='com.hundsun.med.framework.beands.RedisChannelConfigBean'>
		<property name="host"  		value="123.56.3.239" />
	    <property name="port" 		value="6379" />  
	    <property name="password" 	value="hundsun-med-redis" />
	</bean>		
	
	<!-- 短信网关过滤规则定义 -->
	<bean id='MyGatewayFactoryDEFXHTEST' class='com.hundsun.med.framework.sms.server.SMSGatewayFactory'>
		<property name='defaultGateway' ref='movieDEFXHTEST' />
		<property name='smsGatewayConfig'>
            <map>   
            	<!-- 基于手机号段处理定义 --> 
            	<!-- 中国移动 -->            	
            	<entry key='134;135;136;137;138;139;150;151;152;157;158;159;182;183;184;187;178;188;147;1705' 			value='movieDEFXHTEST' />
            	<!-- 中国联通 -->    
            	<entry key='130;131;132;145155;156;176;185;186;1709' 			value='movieDEFXHTEST' />	
            	<!-- 中国电信 -->    
            	<entry key='133;153;177;180;181;189;1349;1700' 			value='movieDEFXHTEST' />		           	
            </map>
        </property>
	</bean>	
	<!-- 短信网关定义 -->	
	<bean id='movieDEFXHTEST' class='com.hundsun.med.framework.sms.server.impl.bjlx.BjlxSMSGatewayImpl' >
		<property name='userid' value='30' />
		<property name='account' value='hsdz001' />
		<property name='password' value='XCRXNMPUU5U=z8jOeuoGXk006kztXnz/mg==' />
		<property name='ip' value='115.28.139.239:8888' />
	</bean>	
	
</beans>
