<?xml version='1.0' encoding='UTF-8'?>
<!-- 定义各种启动部署初始化工具 -->
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:context='http://www.springframework.org/schema/context' xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>
		
	<!-- 对接中心参数配置 -->
	<bean id='myMobileApiConfig' class='com.hundsun.med.mobile.conf.MobileApiConfig'>
		<!-- 日常监控业务 IAccessTypeConstants下行业务-->
        <property name='monitorConfig'>
        	<map>
        		<!-- v2.0.0 -->   
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            	<entry key="DemoRedis"     value="DemoRedisBusinessImpl" />    <!-- 排班时间段获取和时间段内的余号 -->
            </map>
        </property>
	</bean>	
		
	<!-- 对接监控定时器 begin -->
	<import resource='spring-job-*.xml' />	
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <bean id='startQuertz' lazy-init='false' autowire='no' class='org.springframework.scheduling.quartz.SchedulerFactoryBean'>
        <property name='triggers'>
            <!-- 需要监听的用户队列 -->
            <list>
                <!-- 日常业务 -->                
               <!--  <ref bean='hospitalBusinessControllerMonitorCronTrigger'/> -->
            </list>
        </property>
    </bean>
	
</beans>
