<?xml version='1.0' encoding='UTF-8'?>
<!-- 定义各种启动部署初始化工具 -->
<beans xmlns='http://www.springframework.org/schema/beans'
	xmlns:mvc='http://www.springframework.org/schema/mvc' 
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xmlns:p='http://www.springframework.org/schema/p'
	xmlns:context='http://www.springframework.org/schema/context' 
	xmlns:cache='http://www.springframework.org/schema/cache'
	xmlns:tx='http://www.springframework.org/schema/tx'
	xmlns:aop='http://www.springframework.org/schema/aop'
	xmlns:rabbit='http://www.springframework.org/schema/rabbit'	
	xsi:schemaLocation='
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/jdbc 
		http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		'>
	
	<bean id='ElasticsearchTableService' class='org.isotope.jfp.framework.search.TableService' >
		<!-- 单次导入数目 -->
		<property name='size' value='3000'/>  
		<!-- 间隔毫秒数 -->
		<property name='sleep' value='1000'/>  
	</bean>	
	<bean id='ElasticsearchSQLService' class='org.isotope.jfp.framework.search.SQLService' >
		<!-- 单次导入数目 -->
		<property name='size' value='3000'/>  
		<!-- 间隔毫秒数 -->
		<property name='sleep' value='1000'/>  
	</bean>	
	
	<bean id='myElasticsearchPool' class='org.isotope.jfp.framework.search.ElasticsearchPool' >
		<constructor-arg index="0">
			<list>
        		<!-- <value>http://127.0.0.1:9200</value> -->
        		<value>http://10.50.86.21:9200</value>
        		<!-- <value>http://10.50.85.30:9200</value>
        		<value>http://10.50.85.31:9200</value>
        		<value>http://10.50.85.32:9200</value> -->
            </list>
		</constructor-arg>
	</bean>	
	<bean id='myQuerySentence' class='org.isotope.jfp.framework.search.QuerySentence' init-method='init'>
		<!-- 文件地址 -->
        <property name='sentenceFiles'>
			<list>
				<value>classpath*:/com/upg/biz/search/Company/Sentence/*.dsl</value>
		 	</list>
		</property>
		<!-- 文件地址 -->
        <property name='indexFiles'>
			<list>
				<value>classpath*:/com/upg/biz/search/Company/Index/*.sqi</value>
		 	</list>
		</property>
	</bean>	
		
</beans>
